ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.home__main-container {
  max-width: 1440px;
  height: 3499px;
  width: 100%;
  background: #01002a;
  color: wheat;
  margin: 0 auto;
}

.home__main-wrapper {
  display: flex;
}
